/* Full-width input fields */
input[type=password] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height:40px;
}

/* Set a style for all buttons */
.container button {
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.container button:hover {
  opacity: 0.8;
}
