{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>{% trans "EduCap-Aptitude Test" %}</title>
<meta name="description" content="{% block description %}{% endblock %}">

<!-- styles -->
{% block style %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style>
body{
  background: linear-gradient(to bottom, #99ccff 0%, #ffcc99 100%);
  height: 972px;
}
</style>
{% endblock %}

</head>

<body>


<!-- Before the quiz content -->

<div class="container">

{% block content %}

{% endblock %}

</div>

<!-- After the quiz content -->


</body>
</html>
